<!--a search box for legislators by zip code.-->
<!--a list of favorited legislators-->

<form action="/legislator_by_zipcode" method="get">
  <h1>Search for Legislator by Zip Code:</h1> <input type="text" name="zip_code">
  <br/>
  <button>Submit</button>

</form>